*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  width: 100%;
  overflow-x: hidden; 
}

/* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #707070 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #353535;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #707070;
    border-radius: 12px;
  }